.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: white;
}
  
.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    background: linear-gradient(90deg, #cfcccc42, #cecfced5);
    gap: 20px;
    cursor: pointer;
    color: #000000;
    border-radius: 40px;
    position: relative; 
}
  
.sidebar-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: transparent;
    pointer-events: none; 
}
  
.sidebar-item:hover::before {
    background-color: rgba(0, 0, 0, 0.1); 
}
  
.sidebar-item > * { 
    pointer-events: auto; 
}


@media (max-width: 800px) {
    .sidebar {
      padding: 30px 0px;
      flex-direction: row;
      width: 100%;
      max-width: none;
      height: auto;
      justify-content: center;
    }
  
    .sidebar-item {
      margin: 0;
    }
}
  